*{margin:0; padding:0;}

#wrap{
  max-width:1561px; width:100%; border:10px solid #f41e1e;
	margin:0 auto; position:relative;
}

#info_box{
  width:201px; height:157px; position:absolute;
	background:url("../images/nara_btn.png");
	border:1px solid #00f; display:none;
	transform:translate(-50%, -100%)
}