<<<<<<< HEAD
<<<<<<< HEAD
* {
  margin: 0;
  padding: 0;
}

#wrap {
  max-width: 1561px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#info_box {
  width: 201px;
  height: 157px;
  position: absolute;
  background: url("../images/nara_btn.png");
  transform: translate(-50%, -100%);
}

.country_name {
  font-size: 16px;
  margin-top: 5px;
  margin-left: 10px;
=======
#worldmap {
  width: 100%;
  height: 100vh;
}
=======
#worldmap {
  width: 100%;
  height: 100vh;
}
>>>>>>> 2b64e1d8e10e5dc1f5cccfe59180099307f8d95e
#worldmap #world_info {
  position: relative;
}
#worldmap #world_info #quatemala_info {
  display: none;
  position: absolute;
}
#worldmap #world_info .box {
  position: absolute;
  width: 300px;
  height: 140px;
  border-radius: 20px;
  background: #fff;
  border: 2px solid #f41e1e;
}
#worldmap #world_info .box p {
  font-size: 14px;
  margin-bottom: -0.8em;
}
#worldmap #world_info #quatemala_info.show {
  display: block;
}
#worldmap #world_info #quatemala_info.show::after {
  content: "";
  border-top: 10px solid #f41e1e;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 0 solid transparent;
  position: absolute;
  top: 100%;
  left: 45%;
}
#worldmap #guatemala:hover {
  fill: #f41e1e;
<<<<<<< HEAD
>>>>>>> 2b64e1d8e10e5dc1f5cccfe59180099307f8d95e
=======
>>>>>>> 2b64e1d8e10e5dc1f5cccfe59180099307f8d95e
}