@charset "UTF-8";

:root{
    --main_color: #175AFE;
    --sub_color1: #66A6FF;
    --sub_color2: #fff;
}

*{a{text-decoration: none; color: var(--sub_color2);}}
body{font-family: 'Pretendard-Regular';}

.inner{margin: 0 auto; width: 100%; max-width: 1724px;}
.clearfix::after{content: ''; clear: both; display: block;}

header{
    width: 100%; height: 150px; position: fixed; z-index: 999;

    #header_top{padding-top: 24px;}

    #logo{float: left; margin-right: 50px; margin-bottom: 46px; margin-top: 5px;}
    #search_bar{
        position: relative;  float: left; 
        width: 220px;

        .search input[type=text]{
            width: 100%; margin-top: 10px;
            border: 2px solid var(--sub_color2); border-radius: 20px; background: transparent;
            height: auto; line-height: normal; padding: 5px 20px 5px 20px;
            outline-style: none; // 포커스 시 발생하는 효과 제거
            color: var(--sub_color2);
        }
        .search input[type=text]::placeholder{color: var(--sub_color2);}

        // 초기값 설정X
        .search button[type=submit]{
            border: 0;
            background-color: transparent;
        }

        .search_btn{
            position: absolute; top: 16px; right: 15px; left: 228px; color: var(--sub_color2);
        }
    }

    #top_menu{
        position: relative; display: flex; float: right; margin-top: 24px;
        li{float: left; margin-right: 20px; a{color: var(--sub_color2);}}
        li:last-child{margin-right: 0;}
        li:last-child::after{content: url("../images/header/eng_btn_w.png"); padding-left: 4px;}

        li:hover{a{color: var(--main_color);}}
        li:last-child:hover::after{content: url("../images/header/eng_btn.png");}
    }

    #gnb{
        clear: both;
        position: relative; float: left; margin-top: -18px;

        li{
            float: left; padding-right: 183px; 
            a{font-size: 20px; color: #030303; padding-top: 20px; padding-bottom: 20px; font-weight: bold;}

            .menu_color{
                color: var(--sub_color2);
            }
        }
        li:last-child{padding-right: 0;}

        .sub{
            visibility: hidden; opacity: 0; position: absolute;
            width: 100%; padding-top: 20px; margin-top: 20px;
            transition: all .4s;
            border-top: 1px solid #cecece;

            li{float: none; padding-bottom: 16px;}
            a{font-size: 16px; white-space: nowrap; color: #030303; font-weight: normal;}
            a::after{display: none;}
            a:hover{color: var(--main_color);}
        }

        &:hover .sub{visibility: visible; opacity: 1;}
    }

    // header 전체를 감싸는 Box
    #header_box{background-color: transparent; width: 100%; height: auto;} 
    #header_box.show{
        background-color: #fff; transition: all .2s;

        // hover시 색깔 변경
        #top_menu{li{a{color: var(--main_color);}}}
        #gnb li{.menu_color{color: var(--main_color);}}

        .search input[type=text]{border-color: var(--main_color);}
        .search button[type=submit]{color: var(--main_color);}
        .search input[type=text]::placeholder{color: var(--main_color);}

        #logo{content: url("../images/header/logo.png");}

        #top_menu{
            li:last-child::after{content: url("../images/header/eng_btn.png");}
        }
    }
    #header_box.height_change{height: 440px;}

    
    &.view1, &.view2{
        #logo{content: url("../images/header/logo.png");}

        #header_box{
            #top_menu{li{a{color: var(--main_color);}}}
            #gnb li{.menu_color{color: var(--main_color);}}

            .search input[type=text]{border-color: var(--main_color);}
            .search button[type=submit]{color: var(--main_color);}
            .search input[type=text]::placeholder{color: var(--main_color);}
        }

        #top_menu{               
            li:last-child::after{content: url("../images/header/eng_btn.png");}
        }
    }
}

#wrap{width: 100%; height: 100vh; overflow: hidden; position: relative;}
.sec{width: 100%; height: 100vh;}

main{
    width: 100%; height: 100vh;

    #main_view{
        width: 100%; height: 100%;
        .bg-video{
            width: 100%; height: 100vh;
            position: relative; top: 0; left: 0; z-index: -1;
        }

        .bg-video_content {
            height: 100%;
            width: 100%;
            object-fit: cover; // background-size: cover 와 비슷함. (HTML 요소 or 비디오와 작동)
        }

        h3{
            font-size: 66px; color: #fff;font-weight: bold; left: calc(50% - 204px);
            position: absolute; top: 45%; text-align: center; font-family: 'iceJaram-Rg';
        }
        h3::before{
            content: ""; background: url("../images/main_view/left.png") no-repeat; 
            position: absolute; width: 9%; height: 60%; left: -12%; top: -12%;
        }
        h3::after{
            content: ""; background: url("../images/main_view/right.png") no-repeat;
            position: absolute; width: 10%; height: 60%; left: 107%; top: -12%;
        }
        span{
            font-size: 23px; color: #fff; position: absolute; left: calc(50% - 282px);
            top: 52%; text-align: center; line-height: 30px;
        }

        #scroll{
            z-index: 2;
            position: absolute; bottom: 8%; left: 50%; border: 3px solid #fff;
            padding: 31px 11px 16px; border-radius: 41px;
        }
        #scroll p{animation: scroll_ani .8s linear infinite;}
        @keyframes scroll_ani{
        0%{
            transform: translateY(11px);
        }
        80%{
            transform: translateY(5px);
        }
        100%{
            transform: translateY(10px);
        }
    }

    #section03{
        visibility: hidden;
        // KOICA 해외봉사단 국가별
        #overseas_volunteer{
            width: 100%;
            .overseas_btn{
                width: 120px; height: 36px; display: inline-block;
                margin-right: 50px;
            }
            .overseas_btn input[type=radio]{
                display: none;
            }
            .overseas_btn label{
                display: block;
                border-radius: 10px;
                margin: 0 auto;
                text-align: left;
                height: fill-available;
                font-size: 17px; line-height: 34px;
                border: 1px solid var(--main_color); border-radius: 10px;
                width: 100%; padding-left: 16px; color: var(--main_color);
                padding-right: 30px;
            }
            // Checked
            .overseas_btn input[type=radio]:checked + label{
                background: var(--main_color); color: var(--sub_color2);
            }
            // Hover
            .overseas_btn label:hover{
                border-color: var(--sub_color1);
                background: var(--sub_color1); color: var(--sub_color2);
            }
        }
    }
    clear: both;
    }
}

footer{
    width: 100%; position: relative;

    #footer_background{
        height: 400px; background: linear-gradient( var(--main_color) 75%, var(--sub_color2) 25%); z-index: -1;
    }

    #footer_top_list{
        float: left; margin-top: 40px;
        li{float: left; padding-right: 45px; a{color: var(--sub_color2);} font-size: 17px;}
        li:last-child{padding-right: 0;}
    }

    #footer_sns{
        float: right; margin-top: 20px;
        li{float: left; color:var(--sub_color2); padding-right: 14px;}
        li:last-child{padding-right: 0;}
    }

    #footer_logo{
        clear: both; float: left; margin-top: 34px;
    }

    #copyright{
        clear: both; float: left; margin-top: 18px; color: var(--sub_color2);
        li{float: left; padding-right: 18px; padding-bottom: 6px;}
        p{margin-bottom: 30px;}
    }

    #footer_bottom{
        width: 100%;
        clear: both; padding-top: 50px;
    }

    #banner{display: flex; width: 60%; height: 100%; overflow: hidden;}

    .wrap{      
        //transition-timing-function: linear !important;
        display: flex; width: 100%; height: 100%;
    }

    .item{
        justify-content: space-between; flex-shrink: 0;
    }

    #wa_mark{
        position: absolute; top: 81%; right: 290px;
        li{padding-right: 40px; float: left;}
        li:last-child{padding-right: 0;}
    }
}

.pager{position: absolute; top: 50%; left: 30px; transform: translateY(-50%);}
.pager span{display: block; width: 10px; height: 10px; border-radius: 50%; background: #000; opacity: .3; margin: 8px 0; cursor: pointer;}
.pager span.active{opacity: 1;}